@model Proyecto.ViewModels.GeoViewModel
@{
    ViewBag.Title = "Index";
}
<link href='http://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>

<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCnVvFIubOsXOOIAcnQx0weuImKVpo6h_4&sensor=false">
    </script>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
@Html.TextBoxFor(m=>m.Direccion, new {name="Direccion" , id="Direccion" })
<div id="mapa" style="height:900px;width:500px; "></div>

<script type="text/JavaScript">
    var geocoder, map, bounds, markers, lastMarker, temporal;
    function initialize() {
        var mapa = new OpenLayers.Map("mapa");
        mapa.addLayer(new OpenLayers.Layer.OSM());
        mapa.zoomToMaxExtent();
        var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
        var toProjection = new OpenLayers.Projection("EPSG:900913");
        var position = new OpenLayers.LonLat(13.41, 52.52).transform(fromProjection, toProjection);
        mapa.setCenter(position, 15);
      
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    </script>


